<html>
  <head>
    <title>Sentence Semantics</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!-- <link href="./styles.css" rel="stylesheet" /> -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/mainpage.css') }}"
    />
  </head>
  <body>
    <h1 class="display-3">Sentence Similarity</h1>
    <form action="{{url_for('predict')}}" method="post">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-6">
            <div class="mb-3">
              <label for="sentence1" class="form-label">Sentence 1:</label>
              <textarea
                type="text"
                class="form-control"
                id="sentence1"
                placeholder="Enter first sentence"
                name="sent1"
                rows="5"
              ></textarea>
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="mb-3">
              <label for="sentence2" class="form-label">Sentence 2:</label>
              <textarea
                type="text"
                class="form-control"
                id="sentence2"
                placeholder="Enter second sentence"
                name="sent2"
                rows="5"
              ></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-light btn-lg mb-3" name="submit">
              Check
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-center">
            {% if sentence1 is defined %}
            <p class="lead">{{sentence1}}</p>
            {% endif %} {% if sentence2 is defined %}
            <p class="lead">{{sentence2}}</p>
            {% endif %}
            <p class="display-6">{{prediction_text}}</p>
          </div>
        </div>
      </div>
    </form>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
